<div class="panel-header">
  <div class="page-inner py-2">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
      <div>
        <h2 class="pb-2 fw-bold">Welcome to Short Url of Luis Eugenio</h2>
        <h5 class="op-7 mb-2 fw-bold">Listing All Short URLs</h5>
      </div>
      <div class="ml-md-auto py-2 py-md-0">
        <%= link_to 'New Short Url', new_short_url_path, :class => 'btn btn-primary' %>
        <%= link_to 'Top 100', short_url_top_100_path, :class => 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>

<% if notice %>
  <p id="notice" class="alert alert-warning"><%= notice %></p>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="display table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Url</th>
                <th>Title</th>
                <th>Shortened URL</th>
                <th>Visit Count</th>
              </tr>
            </thead>

            <tbody>
              <% @short_urls.each do |short_url| %>
                <tr>
                  <td><%= short_url.url %></td>
                  <td><%= short_url.title %></td>
                  <td><%= link_to redirect_to_url_url(short_url.shortened_url), redirect_to_url_path(short_url.shortened_url), target: "_blank" %></td>
                  <td><%= short_url.visit_count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>